/* 横向换行 */
.flex-wrap {
  /* 09版 */
  -webkit-box-lines: multiple;
  /* 12版 */
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* 子元素-平均分栏 */
.flex1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  font-family: 'microsoft yahei', PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', tahoma, 'microsoft yahei ui', simsun, sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  width: 100%;
}
html {
  font-size: 62.5%;
  font-size: 10px;
  font-size: 3.125vw;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-size: 1.4rem;
  position: relative;
}
a,
a:hover {
  outline: none;
  text-decoration: none;
}
a {
  color: #3a3a3a;
}
fieldset,
img {
  border: none;
}
img {
  max-width: 100%;
}
/* img 搭车：让链接里的 img 无边框 */
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
/* 重置列表元素 */
ol,
ul {
  list-style: none;
}
/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 重置 hr */
hr {
  border: none;
  height: 1px;
}
.containter {
  width: 1180px;
  margin: 0 auto;
}
.clear {
  clear: both !important;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.f_12 {
  font-size: 12px !important;
}
.f_14 {
  font-size: 14px !important;
}
.f_b {
  font-weight: bold !important;
}
.article {
  padding: 2rem 1.5rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #333;
  max-width: 100%;
  overflow-x: hidden;
}
.article * {
  max-width: 100%;
}
.article .article_title {
  font-size: 1.7rem;
  margin-bottom: 1.2rem;
}
.article .article_dec {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #acacac;
}
.article .article_hr {
  border-bottom: .1rem solid #eee;
}
.article .article_content {
  margin: 2rem 0 0;
}
.article .article_content p {
  margin: 1rem 0;
}
.article .article_content img {
  max-width: 100%;
  height: auto !important;
}
.header {
  width: 100%;
  height: 4.2rem;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  line-height: 4.4rem;
  text-align: center;
  box-shadow: 0 0 .2rem 0 #ccc;
  background: #fff;
}
.header h1 {
  font-size: 1.8rem;
  font-weight: normal;
  position: relative;
  z-index: 9;
}
.header .icon,
.header .icon:before,
.header .icon:after {
  width: 4.2rem;
  height: 4.2rem;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
.header .icon:before,
.header .icon:after {
  content: "";
}
.header .icon.icon-left:before {
  top: 1.3rem;
  left: 1.6rem;
  border-bottom: .1rem solid #333;
  border-left: .1rem solid #333;
  width: 1.6rem;
  height: 1.6rem;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.header ~ .content {
  margin-top: 4.2rem;
}
.content {
  position: relative;
  z-index: 9;
  padding-bottom: 4rem;
}
.footer {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: #000;
  color: #fff;
}
.footer .meun {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* 09版 */
  -webkit-box-orient: horizontal;
  /* 12版 */
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.footer a {
  color: #fff;
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.photo {
  background: #000;
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.photo .swiper-container {
  width: 100%;
  height: 100%;
}
.photo .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.photo .swiper-wrapper .swiper-slide {
  padding: 2rem;
  max-width: 100%;
  height: auto;
  position: relative;
}
.photo .swiper-wrapper .swiper-slide img {
  position: relative;
  display: block;
  height: auto !important;
  max-height: 100%;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.photo .swiper-pagination-bullet {
  background: #fff;
}
