@import 'base.layout.less';
html {
    color: #fff;
    font-size: 2*0.15625vw; //基于640设计
}
body,
html {
    width: 100%;
    height: 100%;
}
.containter {
    .flex();
    .justify-content(space-between);
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background: #ccc;
    .flex-direction();
    flex-wrap: wrap;
    position: relative;
    .header {
        width: 100vw;
        height: 36.5vw;
        max-height: 36.5vw;
        background: #f00;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .center {
        width: 100%;
        min-height: 200px;
        flex-grow: 1;
        .flex();
        .justify-content(space-around);
        .align-items();
        .flex-direction();
        .flex1;
        .c1,
        .c2,
        .c3 {
            width: 95%;
            height: 200px;
            width: 95vw;
            height: 30vw;
            .flex();
            .justify-content();
            .align-items();
        }
        .c1 {
            background: #0f0;
            box-shadow: 2px 2px 5px -1px #000;
            .d {
                width: 23%;
                height: 20px;
                height: 19vw;
                background: #00f;
                border-right: 2px solid #000;
            }
        }
        .c2 {
            margin: 2vw 0;
            .flex-direction();
            .flex-wrap;
            .justify-content(space-between);
            .align-content(space-between);
            .d {
                width: 160px;
                width: 45vw;
                height: 45%;
                background: #f00;
                box-shadow: 2px 2px 5px -1px #000;
                border-bottom: 2px solid #000;
            }
            .d3 {
                height: 100%;
                font-size: 10vw;
            }
        }
        .c3 {
            background: #ddd;
            .d {
                width: 33.33%;
                height: 30px;
                height: 19vw;
                background: #f0f;
                border-right: 2px solid #000;
            }
        }
    }
    .footer {
        width: 100vw;
        height: 45px;
        height: 20vw;
        max-height: 36.5vw;
        background: #666;
    }
}
